[[source]]
url = "https://269fdc63-af3d-4eca-8101-8bddc22d6f14:b694b5b1-f97e-49e4-959e-f3c202e3ab91@pypi.uksouth.bink.sh/simple"
name = "bink-pypi"
verify_ssl = true

[[source]]
url = "https://pypi.org/simple"
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pytest-bdd = "*"
logger = "*"
jsonpath = "*"
click = "*"
faker = "*"
psycopg2-binary = "*"
json-diff = "*"
arrow = "*"
pyjwt = "*"
apscheduler = "*"
azure-storage-blob = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
shared-config-storage = "*"
pytest-html = "*"
deepdiff = "*"
jwcrypto = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "==22.3.0"
ptpython = "*"

[requires]
python_version = "3.9"
