[[source]]
name = "gitlab-libraries"
url = "https://bink-libs:y6nzdKbo9J6MkEmwvB-i@git.bink.com/api/v4/groups/86/-/packages/pypi/simple"
verify_ssl = true

[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pytest = "*"
pytest-bdd = "*"
logger = "*"
jsonpath = "*"
faker = "*"
psycopg2-binary = "*"
json-diff = "*"
arrow = "*"
pyjwt = "*"
apscheduler = "*"
azure-storage-blob = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
shared-config-storage = "*"
pytest-html = "*"
deepdiff = "*"
kubernetes = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "==21.11b1"
ptpython = "*"

[requires]
python_version = "3.9"
