[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[[source]]
name = "azure"
url = "https://jeff:lkzedq5xrttrobhxf6liuqefz4pzb5hp6m6wnjygjr5qhqo4phua@pkgs.dev.azure.com/binkhq/_packaging/binkhq/pypi/simple/"
verify_ssl = true

[packages]
requests = "*"
pytest = "*"
pytest-bdd = "<6.0"
logger = "*"
jsonpath = "*"
click = "*"
faker = "*"
psycopg2-binary = "*"
json-diff = "*"
arrow = "*"
pyjwt = "*"
apscheduler = "*"
azure-storage-blob = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"
shared-config-storage = {version = "*", index = "azure"}
pytest-html = "*"
deepdiff = "*"
jwcrypto = "*"
pendulum = {version="*", index="pypi"}
pytz = "*"
paramiko = "*"
soteria = "*"

[dev-packages]
flake8 = "*"
isort = "*"
black = "==22.3.0"
ptpython = "*"

[requires]
python_version = "3.11"
